<!-- templates/registration/password_reset_confirm.html -->
{% extends "layout.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}


<div class="container-fluid">
  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}

      <p>
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
      
        <span class="helptext"></span></p><ul style="color: red;"><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
      </p>
      <p>
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
      </p>
      
      <button class="btn" type="submit" style="background-color: teal; color: white">Change my password</button>
    
  </form>
</div>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}