<title>Booking Date</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}



{% if user.is_authenticated %}

<h1 style="color: #555" class="text-center  mt-3">Booking Date</h1>

<div style="display: flex; justify-content:center">
<div class="container shadow p-4 mb-3 bg-body rounded text-black text-center m-5"  style="max-width: 500px; margin: 0 auto">
    <form method="post" action="{% url 'bookingDate' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div class="mt-3">
            <!--input day-->
            <div class="mt-3">
                <div class="text-center">
                    <img style="height: 60px; width: 60px;" src="{% static 'media/image5.jpeg' %}">
                </div>
                <h5 style="color: #555;">Select Day:</h5>
                <select style="margin-top: 20px" class="form-select fs-3 text-center" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option style="color: #777;" value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button style="background-color: teal;" type="submit" class="btn text-white">Continue</button>
        </div>
    </form>
</div>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'login' %}"  style="background-color: teal; color: #fff; font-family: Trebuchet MS;" class="btn shadow text-center">Sign in</a>
</div>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <a href="{% url 'noneUserBookingDate' %}"  style="background-color: teal; color: #fff; font-family: Trebuchet MS; display:flex; justify-content: center;" class="btn shadow text-center">Continue booking</a>
</div>

{% endif %}


{% endblock %}