{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}

  <!--Hero 1 Start-->

    <div style="margin-top: -70px;" class="bg bg-light text-dark pt-5 pb-5">
        <div class="text-center  pt-5 pb-5">
          <img style="height: 120px; width: 120px; border-radius: 50%" src="{% static 'media/image1.jpg' %}">
            <p class="fs-4 mt-3" style="color: #222; font-size: 14pt; font-family: Trebuchet MS; font-style: italic">Welcome to</p>
            <h6 style="margin-bottom: 20px; color: teal; font-weight: 500; font-size: 20pt" class="display-1 cGreen me-2 ms-2">Goodness Hair Braid</h6>
            <p style="color: #444; margin-top: -20px">2602A Eldridge Parkway South, Houston 77082</p>
            <p class="fs-4 mt-3"></p>           
            <div class="text-center" style="color: #444; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15); margin-bottom: 20px; padding: 10px 0 20px 0">
              <h4 style="color: #222; font-family: Trebuchet MS; margin-top: 20px">Payment</h4>
              <div style="display: flex; justify-content: center;">
                <p>Cash <i class="fas fa-dollar-sign"></i></p>
                <p style="margin-left: 10px;">Master card <i class="fab fa-cc-mastercard"></i></p>
                <p style="margin-left: 10px;">Visa card <i class="fab fa-cc-visa"></i></p>
                
              </div>
              
            </div>
            <div class="text-center" style="color: black; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15); margin-bottom: 20px; padding: 10px 0 20px 0">
              <h4 style="color: #222; font-family: Trebuchet MS;">Policies</h4>
              <div style="color: #444; justify-content: center;">
                <p><i class="fas fa-dollar-sign"></i> Deposit required</p>
                <p style="margin-left: 10px;"><i class="fas fa-brush"></i> Come with hair washed and detangled</p>
                <p style="margin-left: 10px;"><i class="fas fa-ruler"></i> Length requirement is 14 inches</p>
                <p style="margin-left: 10px;"><i class="fas fa-child"></i> Ages 13+ only</p>
                <p style="margin-left: 10px;"><i class="fas fa-clock"></i> Late appointments canceled after 15 minutes</p>
                <p style="margin-left: 10px;"><i class="fas fa-map-marker-alt fa-1x"></i> Residents in Houston only</p>
              </div>
            </div>

            <div class="text-center" style="color: #444; margin-bottom: 20px; padding: 10px 0 20px 0">
              <h4 style="color: #222; font-family: Trebuchet MS;">Availability</h4>
              <div class="container" style="display: inline-block; justify-content: center;">
                <p style="text-align: justify;">Date/time not displayed, is unavailable. Only 60 days are available from the current date. Date not found between the available date has been either been filled up by appointments or it's locked.</p>
              </div>
            </div>
            <a style="background-color: teal; color: #fff; font-family: Trebuchet MS;" type="button" class="btn shadow  mt-5" href="{% url 'booking' %}">Online Booking</a>
            
        </div>
    </div>
  <!--Hero 1 End-->

  
  <!--Second-->

  <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
    <div class="text-center">
      <h4 style="color: teal; font-family: Trebuchet MS; font-weight:bold">Gallery</h4>
    </div>
    <div class="row py-3 shadow-5">
      <div class="col-3 mt-1">
        <img
          src="{% static 'media/image7.jpg' %}"
          data-mdb-img="{% static 'media/image1.jpg' %}"
          alt="Gallery image 1"
          class="active w-100 h-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="{% static 'media/image9.jpg' %}"
          data-mdb-img="{% static 'media/image1.jpg' %}"
          alt="Gallery image 2"
          class="w-100 h-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="{% static 'media/image10.jpg' %}"
          data-mdb-img="{% static 'media/image1.jpg' %}"
          alt="Gallery image 3"
          class="w-100 h-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="{% static 'media/image11.jpg' %}"
          data-mdb-img="{% static 'media/image1.jpg' %}"
          alt="Gallery image 4"
          class="w-100 h-100"
        />
      </div>
    </div>
  </div>

  
    <div style="margin-bottom: 0%;" class="bg bg-dark text-dark pt-1 pb-5">
      <div class="text-center" style="color: beige; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15); margin-top: 100px; padding: 10px 0 20px 0">
        <h4 style="margin-top: -70px; margin-bottom: 25px; font-family: Trebuchet MS;">Contacts</h4>
        <div style="display: grid; justify-content: center; margin-bottom: 30px">
          <div style="display: flex; justify-content: center;">
            <p>
              <i style="color: #f54;" class="fas fa-phone"></i>
              <a style="text-decoration: none; color: #fff;" class="btn-floating m-1" href="tel: +18329972499" role="button"></a>
              1 8329972499
            </p>

            <p style="margin-left: 30px;">
              <i style="color: #f54;" class="fab fa-instagram"></i>
              <a style="text-decoration: none; color: #fff;" class="btn-floating m-1" target="_blank" href="https://www.instagram.com/goodnesshairbraids/" role="button"></a>
              @goodnesshairbraids
            </p>
          </div>

          <div style="display: flex; justify-content: center;">
            <p><i style="font-size: small; color: #f54;" class="fas fa-envelope mt-4 fa-2x"></i><a style="text-decoration: none; color: #fff;" href="https://mail.support@goodnesshairbraid.com"></a> support@goodnesshairbraid.com</p>
          </div> 
        </div>
        <div>
            <p>© {% now "Y" %} Copyright:</p>
        </div>
      </div>
    </div>

{% endblock %}