{% extends 'layout.html' %}

<title>Payment</title>

{% block body %}

<section style="margin-top: 50px; margin-bottom: 250px">
    <center>
        <div class="mt-5 ">
            
            <div class="shadow p-4 mb-3 bg-body bg-body rounded text-black  m-5">
                <h4 style="color: #007bff;">Review</h4>
                <div class="list-group fs-4 border p-3 mb-3">
                    <p style="font-size: medium; color:#444" class="list-group mt-2">Service: <b style="color: #333; font-size: medium; font-style:italic">{{ service }}</b style="color: #333;"></p>
                    <p style="font-size: medium; color:#444" class="list-group mt-2">Appointment Day: <b style="color: #333; font-size: medium; font-style:italic">{{ day }}</b></p>
                    <p style="font-size: medium; color:#444" class="list-group mt-2">Time: <b style="color: #333; font-size: medium; font-style:italic">{{ time }}</b></p>
                    <p style="font-size: medium; color:#444" class="list-group mt-2">Price: <b style="color: #333; font-size: medium; font-style:italic">${{ price }}</b></p>
                    <p style="font-size: medium; color:#444" class="list-group mt-2">To Deposit <b style="color: #333; font-size: medium; font-style:italic">${{ deposit }}</b></p>
                </div>
                
            </div>

        </div>

        
        <form action="{% url 'payment' %}" method="post" class="stripe-form">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                data-key="{{ Key }}"
                data-description="Payment Gateway"
                data-name="Stripe"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-amount="{{ deposit_int }}"
                data-currency="usd"
                data-locale="auto">
            </script>
        </form>
    </center>
</section>

{% endblock %}
    